.feed-type-selector {
  height: 100%;
  container-type: inline-size;
}

.feed-type-container {
  display: flex;
  height: 100%;
  gap: min(5% - 10px, 15px);
  align-items: center;
  max-width: 470px;
  padding: 0 8px 0 0;
}

.feed-type-button { 
  border-radius: 6px;
  background: #ffffff;
  border: 1px solid #000000;
  color: #000;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  min-width: 0; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 15px;
}

@container (min-width: 400px) {
  .feed-type-container {
    gap: 12px;
  }
}

@container (max-width: 250px) {
  .feed-type-button {
    font-size: 12px;
    padding: 0 10px;
  }
}

@container (min-width: 251px) and (max-width: 350px) {
  .feed-type-button {
    font-size: 14px;
    padding: 0 12px;
  }
}

@container (min-width: 351px) {
  .feed-type-button {
    font-size: 15px;
    padding: 0 15px;
  }
}

.feed-type-button:hover {
  background: #d1dce0;
}

.feed-type-button.active {
  background-color: #d7f4ff;
  font-weight: bold;
}